(
    id: "test chamber",
    description: "This level is a testing place, where the player could fly freely, this is set mainly to test mechanics",
    children: [
        (
            id: "sun",
            model: "F16/f16.gltf",
            transform: (
                position: ( 1000.0, 1000000.0, 1000.0 ),
                rotation: ( 0.0, 0.0, 0.0 ),
                scale: ( 1.0, 1.0, 1.0 ),
            ),
            children: [],
            metadata: (
                lighting: Some(
                    (
                        intensity: 1.0,
                        color: (0.7, 0.7, 0.8),
                    ),
                ),
            ),
        ),
        (
            id: "player",
            model: "F16/f16.gltf",
            transform: (
                position: (0.0, 100.0, 0.0),
                rotation: (0.0, 0.0, 0.0),
                scale: (14.0, 14.0, 14.0),
            ),
            children: [],
            metadata: (
                cameras: Some((
                    cockpit_camera: (0.0, 1.8, 13.5),
                    cinematic_camera: (-10.0, 3.0, -5.0),
                    frontal_camera: (0.0, 6.0, 30.0),
                )),
                physics: Some((
                    rigidbody: ( 
                        is_static: false, 
                        mass: 1000.0,
                        center_of_mass: (0.0, 0.0, 7.0),
                        initial_velocity: (0.0, 0.0,  500.0),
                    ),
                    collider: Some( Cuboid (
                        half_extents: (7.0, 1.0, 14.0)
                    ))     
                )),
            ),
        ),
        (
            id: "fellow_aviator",
            model: "F14/f14.gltf",
            transform: (
                position: (1000.0, 100.0, 0.0),
                rotation: (0.0, 0.0, 0.0),
                scale: (19.0, 19.0, 19.0),
            ),
            children: [],
            metadata: (
                physics: Some((
                    rigidbody: ( 
                        is_static: true, 
                        mass: 9000.0, 
                        center_of_mass: (0.0, 0.0, 0.0),
                        initial_velocity: (0.0, 0.0, 0.0)
                    ),
                    collider: Some( Cuboid (
                            half_extents: (1.0, 1.0, 1.0)
                    ))     
                )),
                camera: Some((
                    cockpit_camera: (0.0, 2.3, 14.3),
                    cinematic_camera: (-10.0, 3.0, 0.0),
                    frontal_camera: (0.0, 6.0, 26.0),
                ))
            ),
        ),
        (
            id: "world",
            model: "Water/water.gltf",
            transform: (
                position: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0),
                scale: (100000.0, 1.0, 100000.0),
            ),
            children: [],
            metadata: (
                physics: Some((
                    rigidbody: ( 
                        is_static: true, 
                        mass: 0.0,
                        center_of_mass: (0.0, 0.0, 0.0),
                        initial_velocity: (0.0, 0.0, 0.0),
                    ),
                    collider: Some( HalfSpace (
                            normal: (0.0, 1.0, 0.0)
                    ))  
                ))
            ),
        )
        // more game objects if needed
    ]   
)