(
    id: "test chamber",
    description: "This level is a testing place, where the player could fly freely, this is set mainly to test mechanics",
    children: [
        (
            id: "sun",
            model: "F16/f16.gltf",
            transform: (
                position: ( 1000.0, 1000000.0, 1000.0 ),
                rotation: ( 0.0, 0.0, 0.0 ),
                scale: ( 1.0, 1.0, 1.0 ),
            ),
            children: [],
            metadata: (
                lighting: Some(
                    (
                        intensity: 1.0,
                        color: (0.7, 0.7, 0.8),
                    ),
                ),
            ),
        ),
        (
            id: "ground",
            model: "ground/ground.glb",
            transform: (
                position: ( 0.0, 0.0, 0.0 ),
                rotation: ( 0.0, 0.0, 0.0 ),
                scale: ( 30000.0, 30000.0, 30000.0 ),
            ),
            children: [],
            metadata: (
            ),
        ),
        (
            id: "player",
            model: "F16/f16.gltf",
            transform: (
                position: (0.0, 6000.0, 0.0),
                rotation: (0.0, 0.0, 0.0),
                scale: (14.0, 14.0, 14.0),
            ),
            children: [],
            metadata: (
                cameras: Some({
                    "cockpit": (
                        position: (0.0, 1.8, 13.5),
                        fov: 70.0,
                    ),
                    "cinematic": (
                        position: (-7.626, 1.076, -10.628),
                        fov: 60.0,
                    ),
                    "frontal": (
                        position: (0.0, 6.0, 30.0),
                        fov: 60.0,
                    ),
                }),
                physics: Some((
                    rigidbody: ( 
                        is_static: false,
                        mass: 8900,
                        center_of_mass: (0.0, 0.0, 0.5),
                        initial_velocity: (0.0, 0.0, 200.4),
                    ),
                    colliders: [
                        Cuboid (
                            half_extents: (1.4, 1.4, 9.8),
                            position: (0.0, 0.0, 2.8)
                        ),
                        Cuboid (
                            half_extents: (4.2, 0.14, 2.8),
                            position: (6.0, 0.42, 2.8)
                        ),
                        Cuboid (
                            half_extents: (4.2, 0.14, 2.8),
                            position: (-6.0, 0.42, 2.8)
                        ),
                    ]     
                )),
            ),
        ),
        (
            id: "fellow_aviator",
            model: "F14/f14.gltf",
            transform: (
                position: (50.0, 50.0, 0.0),
                rotation: (0.0, 0.0, 0.0),
                scale: (19.0, 19.0, 19.0),
            ),
            children: [],
            metadata: (
                physics: Some((
                    rigidbody: ( 
                        is_static: true, 
                        mass: 9000.0, 
                        center_of_mass: (0.0, 0.0, 0.0),
                        initial_velocity: (0.0, 0.0, 0.0)
                    ),
                    colliders: [ Cuboid (
                            half_extents: (1.0, 1.0, 1.0)
                    )]     
                )),
                cameras: Some({
                    "cockpit": (
                        position: (0.0, 2.3, 14.3),
                    ),
                    "cinematic": (
                        position: (-10.0, 3.0, 0.0),
                    ),
                    "frontal": (
                        position: (0.0, 6.0, 26.0),
                    ),
                })
            ),
        ),
        (
            id: "world",
            model: "Water/water.gltf",
            transform: (
                position: (0.0, 0.0, 0.0),
                rotation: (0.0, 0.0, 0.0),
                scale: (100000.0, 1.0, 100000.0),
            ),
            children: [],
            metadata: (
                physics: Some((
                    rigidbody: ( 
                        is_static: true, 
                        mass: 0.0,
                        center_of_mass: (0.0, 0.0, 0.0),
                        initial_velocity: (0.0, 0.0, 0.0),
                    ),
                    colliders: [ HalfSpace (
                            normal: (0.0, 1.0, 0.0)
                    )]  
                ))
            ),
        )
        // more game objects if needed
    ]   
)