(
    keys: [
        (
            label: "pitch_up",
            keys: ["w"]
        ),
        (
            label: "roll_left",
            keys: ["a"]
        ),
        (
            label: "pitch_down",
            keys: ["s"]
        ),
        (
            label: "roll_right",
            keys: ["d"]
        ),
        (
            label: "rudder_left",
            keys: ["q"]
        ),
        (
            label: "rudder_right",
            keys: ["e"]
        ),
        (
            label: "throttle_up",
            keys: ["Up"]
        ),
        (
            label: "throttle_down",
            keys: ["Down"]
        ),
        (
            label: "change_camera",
            keys: ["v"]
        ),
        (
            label: "fix_view",
            keys: ["space"]
        ),
        (
            label: "test",
            keys: ["t"]
        ),
        (
            label: "up_wheel",
            keys: ["Right"]
        ),
        (
            label: "down_wheel",
            keys: ["Left"]
        ),
        (
            label: "toggle_debug",
            keys: ["F1"]
        ),
        (
            label: "toggle_console",
            keys: ["F3"]
        ),
        (
            label: "toggle_pause",
            keys: ["F12"]
        ),
        (
            label: "toggle_camera_debug",
            keys: ["F4"]
        ),
        (
            label: "trim_pitch_up",
            keys: ["i"]
        ),
        (
            label: "trim_pitch_down",
            keys: ["k"]
        ),
        (
            label: "trim_roll_left",
            keys: ["j"]
        ),
        (
            label: "trim_roll_right",
            keys: ["l"]
        ),
        (
            label: "trim_yaw_left",
            keys: ["u"]
        ),
        (
            label: "trim_yaw_right",
            keys: ["o"]
        ),

    ],
    mouse: (
        x_sensitivity: 0.5,
        y_sensitivity: 0.5,
    ),
)