(
    id: "game_ui",
    children: {
        "data_box": (
            transform: (
                position: (x: 10.0, y: 10.0),
                fit: Some((
                    horizontal: true,
                    vertical: true,
                )),
            ),
            content: Container((
                margin: Some(20.0),
                gap: Some(5.0),
                background_color: Some((0.0, 0.0, 0.0, 0.5)),
                children: Some({
                    "timer": (
                        transform: (
                            position: (x: 0.0, y: 0.0),
                            size: Some((height: 35.0, width: 250.0)),
                        ),
                        content: Label((
                            text: "00:00:00:00",
                            font_size: 10.0,
                            color: (0.0, 1.0, 0.0, 1.0),
                            border_color: Some((0.0, 1.0, 0.0, 1.0)),
                            alignment: Some("Center"),
                        )),
                    ),
                    "framerate": (
                        transform: (
                            position: (x: 0.0, y: 0.0),
                            size: Some((height: 35.0, width: 250.0)),
                        ),
                        content: Label((
                            text: "100fps",
                            font_size: 10.0,
                            color: (0.0, 1.0, 0.0, 1.0),
                            border_color: Some((0.0, 1.0, 0.0, 1.0)),
                            alignment: Some("Center"),
                        )),
                    ),
                    "g": (
                        transform: (
                            position: (x: 0.0, y: 0.0),
                            size: Some((height: 35.0, width: 250.0)),
                        ),
                        content: Label((
                            text: "1g",
                            font_size: 10.0,
                            color: (0.0, 1.0, 0.0, 1.0),
                            border_color: Some((0.0, 1.0, 0.0, 1.0)),
                            alignment: Some("Center"),
                        )),
                    ),
                    "power": (
                        transform: (
                            position: (x: 0.0, y: 0.0),
                            size: Some((height: 35.0, width: 250.0)),
                        ),
                        content: Label((
                            text: "0%",
                            font_size: 10.0,
                            color: (0.0, 1.0, 0.0, 1.0),
                            border_color: Some((0.0, 1.0, 0.0, 1.0)),
                            alignment: Some("Center"),
                        )),
                    ),
                }),
            )),
        ),
        "compass": (
            transform: (
                position: (x: 0.0, y: 10.0),
                size: Some((height: 35.0, width: 100.0)),
                self_anchor: Some((horizontal: Center, vertical: Start)),
            ),
            content: Label((
                text: "90°",
                font_size: 10.0,
                color: (0.0, 1.0, 0.0, 1.0),
                border_color: Some((0.0, 1.0, 0.0, 1.0)),
                alignment: Some("Center"),
            )),
        ),
        "speed": (
            transform: (
                position: (x: 0.0, y: 50.0),
                size: Some((height: 35.0, width: 100.0)),
                self_anchor: Some((horizontal: Center, vertical: Start)),
            ),
            content: Label((
                text: "SPD",
                font_size: 10.0,
                color: (0.0, 1.0, 0.0, 1.0),
                border_color: Some((0.0, 1.0, 0.0, 1.0)),
                alignment: Some("Center"),
            )),
        ),
        "subtitles": (
            transform: (
                position: (x: 0.0, y: -150.0),
                size: Some((width: 800.0, height: 35.0)),
                self_anchor: Some((horizontal: Center, vertical: End)),
            ),
            content: Label((
                text: "",
                font_size: 15.0,
                color: (1.0, 1.0, 1.0, 0.0),
                background_color: Some((0.0, 0.0, 0.0, 0.0)),
                alignment: Some("Center"),
            )),
        ),
        "velocity_marker": (
            transform: (
                position: (x: 0.0, y: 0.0),
                size: Some((width: 20.0, height: 20.0)),
            ),
            content: Label((
                text: "o",
                font_size: 14.0,
                color: (0.0, 1.0, 0.3, 1.0),
                alignment: Some("Center"),
            )),
        ),
    }
)
